# --- Day 14: Parabolic Reflector Dish ---
You reach the place where all of the mirrors were pointing: a massive parabolic reflector dish attached to the side of another large mountain.

The dish is made up of many small mirrors, but while the mirrors themselves are roughly in the shape of a parabolic reflector dish, each individual mirror seems to be pointing in slightly the wrong direction. If the dish is meant to focus light, all it's doing right now is sending it in a vague direction.

This system must be what provides the energy for the lava! If you focus the reflector dish, maybe you can go where it's pointing and use the light to fix the lava production.

Upon closer inspection, the individual mirrors each appear to be connected via an elaborate system of ropes and pulleys to a large metal platform below the dish. The platform is covered in large rocks of various shapes. Depending on their position, the weight of the rocks deforms the platform, and the shape of the platform controls which ropes move and ultimately the focus of the dish.

In short: if you move the rocks, you can focus the dish. The platform even has a control panel on the side that lets you tilt it in one of four directions! The rounded rocks (O) will roll when the platform is tilted, while the cube-shaped rocks (#) will stay in place. You note the positions of all of the empty spaces (.) and rocks (your puzzle input). For example:
```
O....#....
O.OO#....#
.....##...
OO.#O....O
.O.....O#.
O.#..O.#.#
..O..#O..O
.......O..
#....###..
#OO..#....
```
Start by tilting the lever so all of the rocks will slide north as far as they will go:
```
OOOO.#.O..
OO..#....#
OO..O##..O
O..#.OO...
........#.
..#....#.#
..O..#.O.O
..O.......
#....###..
#....#....
```
You notice that the support beams along the north side of the platform are damaged; to ensure the platform doesn't collapse, you should calculate the total load on the north support beams.

The amount of load caused by a single rounded rock (O) is equal to the number of rows from the rock to the south edge of the platform, including the row the rock is on. (Cube-shaped rocks (#) don't contribute to load.) So, the amount of load caused by each rock in each row is as follows:
```
OOOO.#.O.. 10
OO..#....#  9
OO..O##..O  8
O..#.OO...  7
........#.  6
..#....#.#  5
..O..#.O.O  4
..O.......  3
#....###..  2
#....#....  1
```
The total load is the sum of the load caused by all of the rounded rocks. In this example, the total load is 136.

**Tilt the platform so that the rounded rocks all roll north. Afterward, what is the total load on the north support beams?**

In [7]:
from utilities import get_lines
import pandas as pd

In [35]:
lines = pd.DataFrame([[ch for ch in line] for line in get_lines('sample')])

In [41]:
df = lines.copy()

In [42]:
south_edge = df.shape[0]
east_edge = df.shape[1]

In [81]:
def find_open_spot(df, col, row):
    r = 0
    while r < row:
        if df.loc[r,col]=='.':
            return r
        r+=1
    return -1

In [85]:

def roll(df, row, col):
    r = row-1
    while r>=0:
        if df.loc[row,col]=='O':
            print('gonna roll',row,col)
            open_spot = find_open_spot(df, row, col)
            if open_spot > 0:
                df.at[open_spot,col]='O'
                df.at[row,col]='.'
 # print(r,df.loc[row,col],df.loc[r,col])
        row = r
        r = r-1

    return df

In [86]:
df = lines.copy()
df

   0  1  2  3  4  5  6  7  8  9
0  O  .  .  .  .  #  .  .  .  .
1  O  .  O  O  #  .  .  .  .  #
2  .  .  .  .  .  #  #  .  .  .
3  O  O  .  #  O  .  .  .  .  O
4  .  O  .  .  .  .  .  O  #  .
5  O  .  #  .  .  O  .  #  .  #
6  .  .  O  .  .  #  O  .  .  O
7  .  .  .  .  .  .  .  O  .  .
8  #  .  .  .  .  #  #  #  .  .
9  #  O  O  .  .  #  .  .  .  .

In [87]:
roll(df,9,0)

gonna roll 5 0
gonna roll 3 0
gonna roll 1 0

   0  1  2  3  4  5  6  7  8  9
0  O  .  .  .  .  #  .  .  .  .
1  O  .  O  O  #  .  .  .  .  #
2  .  .  .  .  .  #  #  .  .  .
3  O  O  .  #  O  .  .  .  .  O
4  .  O  .  .  .  .  .  O  #  .
5  O  .  #  .  .  O  .  #  .  #
6  .  .  O  .  .  #  O  .  .  O
7  .  .  .  .  .  .  .  O  .  .
8  #  .  .  .  .  #  #  #  .  .
9  #  O  O  .  .  #  .  .  .  .

In [16]:
def tilt_col(df, col):
    for row in range(south_edge):
        if (df.loc[row, col]=='#')|(df.loc[row,col]=='.'):
            pass
        if df.loc[row, col]=='O':
            print('rolling') # roll forward

    return None

In [17]:
tilt_col(lines,0)

rolling
rolling
rolling
rolling